In [1]:
import pandas as pd
import numpy as np
original_df = pd.DataFrame({"foo": [0,1,2,3,'None'], "bar": [5,6,7,9,None]})

In [2]:
original_df

    foo  bar
0     0  5.0
1     1  6.0
2     2  7.0
3     3  9.0
4  None  NaN

In [3]:
pd.to_pickle(original_df, "./dummy.pkl")

In [4]:
unpickled_df = pd.read_pickle("./close.pkl")

In [5]:
unpickled_df

,T1803.CFE,T1806.CFE,T1809.CFE,T1812.CFE,T1903.CFE,T1906.CFE,T1909.CFE,T1912.CFE,T2003.CFE,T2006.CFE,...,TS1812.CFE,TS1903.CFE,TS1906.CFE,TS1909.CFE,TS1912.CFE,TS2003.CFE,TS2006.CFE,TS2009.CFE,TS2012.CFE,TS2103.CFE
2018-01-02 09:15:00,93.16,93.36,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02 09:16:00,93.185,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02 09:17:00,93.175,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02 09:18:00,93.175,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-02 09:19:00,93.185,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-03 15:11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.185,None,None
2020-07-03 15:12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.185,101.005,None
2020-07-03 15:13:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.19,None,None
2020-07-03 15:14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.185,None,None
2020-07-03 15:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.185,101.005,100.8

In [6]:
type(unpickled_df)

pandas.core.frame.DataFrame

In [7]:
unpickled_df.index

DatetimeIndex(['2018-01-02 09:15:00', '2018-01-02 09:16:00',
               '2018-01-02 09:17:00', '2018-01-02 09:18:00',
               '2018-01-02 09:19:00', '2018-01-02 09:20:00',
               '2018-01-02 09:21:00', '2018-01-02 09:22:00',
               '2018-01-02 09:23:00', '2018-01-02 09:24:00',
               ...
               '2020-07-03 15:06:00', '2020-07-03 15:07:00',
               '2020-07-03 15:08:00', '2020-07-03 15:09:00',
               '2020-07-03 15:10:00', '2020-07-03 15:11:00',
               '2020-07-03 15:12:00', '2020-07-03 15:13:00',
               '2020-07-03 15:14:00', '2020-07-03 15:15:00'],
              dtype='datetime64[ns]', length=165074, freq=None)

In [8]:
unpickled_df.items()

In [9]:
unpickled_df.keys()

Index(['T1803.CFE', 'T1806.CFE', 'T1809.CFE', 'T1812.CFE', 'T1903.CFE',
       'T1906.CFE', 'T1909.CFE', 'T1912.CFE', 'T2003.CFE', 'T2006.CFE',
       'T2009.CFE', 'T2012.CFE', 'T2103.CFE', 'TF1803.CFE', 'TF1806.CFE',
       'TF1809.CFE', 'TF1812.CFE', 'TF1903.CFE', 'TF1906.CFE', 'TF1909.CFE',
       'TF1912.CFE', 'TF2003.CFE', 'TF2006.CFE', 'TF2009.CFE', 'TF2012.CFE',
       'TF2103.CFE', 'TS1812.CFE', 'TS1903.CFE', 'TS1906.CFE', 'TS1909.CFE',
       'TS1912.CFE', 'TS2003.CFE', 'TS2006.CFE', 'TS2009.CFE', 'TS2012.CFE',
       'TS2103.CFE'],
      dtype='object')

In [10]:
unpickled_df.index

DatetimeIndex(['2018-01-02 09:15:00', '2018-01-02 09:16:00',
               '2018-01-02 09:17:00', '2018-01-02 09:18:00',
               '2018-01-02 09:19:00', '2018-01-02 09:20:00',
               '2018-01-02 09:21:00', '2018-01-02 09:22:00',
               '2018-01-02 09:23:00', '2018-01-02 09:24:00',
               ...
               '2020-07-03 15:06:00', '2020-07-03 15:07:00',
               '2020-07-03 15:08:00', '2020-07-03 15:09:00',
               '2020-07-03 15:10:00', '2020-07-03 15:11:00',
               '2020-07-03 15:12:00', '2020-07-03 15:13:00',
               '2020-07-03 15:14:00', '2020-07-03 15:15:00'],
              dtype='datetime64[ns]', length=165074, freq=None)

In [11]:
unpickled_df.columns

Index(['T1803.CFE', 'T1806.CFE', 'T1809.CFE', 'T1812.CFE', 'T1903.CFE',
       'T1906.CFE', 'T1909.CFE', 'T1912.CFE', 'T2003.CFE', 'T2006.CFE',
       'T2009.CFE', 'T2012.CFE', 'T2103.CFE', 'TF1803.CFE', 'TF1806.CFE',
       'TF1809.CFE', 'TF1812.CFE', 'TF1903.CFE', 'TF1906.CFE', 'TF1909.CFE',
       'TF1912.CFE', 'TF2003.CFE', 'TF2006.CFE', 'TF2009.CFE', 'TF2012.CFE',
       'TF2103.CFE', 'TS1812.CFE', 'TS1903.CFE', 'TS1906.CFE', 'TS1909.CFE',
       'TS1912.CFE', 'TS2003.CFE', 'TS2006.CFE', 'TS2009.CFE', 'TS2012.CFE',
       'TS2103.CFE'],
      dtype='object')

In [12]:
df = unpickled_df

In [13]:
print(df)

                    T1803.CFE T1806.CFE T1809.CFE T1812.CFE T1903.CFE  \
2018-01-02 09:15:00     93.16     93.36      None       NaN       NaN
2018-01-02 09:16:00    93.185      None      None       NaN       NaN
2018-01-02 09:17:00    93.175      None      None       NaN       NaN
2018-01-02 09:18:00    93.175      None      None       NaN       NaN
2018-01-02 09:19:00    93.185      None      None       NaN       NaN
...                       ...       ...       ...       ...       ...
2020-07-03 15:11:00       NaN       NaN       NaN       NaN       NaN
2020-07-03 15:12:00       NaN       NaN       NaN       NaN       NaN
2020-07-03 15:13:00       NaN       NaN       NaN       NaN       NaN
2020-07-03 15:14:00       NaN       NaN       NaN       NaN       NaN
2020-07-03 15:15:00       NaN       NaN       NaN       NaN       NaN

                    T1906.CFE T1909.CFE T1912.CFE T2003.CFE T2006.CFE  ...  \
2018-01-02 09:15:00       NaN       NaN       NaN       NaN       NaN  ...
2018-01-02 09:16:00       NaN       NaN       NaN       NaN       NaN  ...
2018-01-02 09:17:00       NaN       NaN       NaN       NaN       NaN  ...
2018-01-02 09:18:00       NaN       NaN       NaN       NaN       NaN  ...
2018-01-02 09:19:00       NaN       NaN       NaN       NaN       NaN  ...
...                       ...       ...       ...       ...       ...  ...
2020-07-03 15:11:00       NaN       NaN       NaN       NaN       NaN  ...
2020-07-03 15:12:00       NaN       NaN       NaN       NaN       NaN  ...
2020-07-03 15:13:00       NaN       NaN       NaN       NaN       NaN  ...
2020-07-03 15:14:00       NaN       NaN       NaN       NaN       NaN  ...
2020-07-03 15:15:00       NaN       NaN       NaN       NaN       NaN  ...

                    TS1812.CFE TS1903.CFE TS1906.CFE TS1909.CFE TS1912.CFE  \
2018-01-02 09:15:00        NaN        NaN        NaN        NaN        NaN
2018-01-02 09:16:00        NaN        NaN        NaN        NaN        NaN
2018-01-02 09:17:00        NaN        NaN        NaN        NaN        NaN
2018-01-02 09:18:00        NaN        NaN        NaN        NaN        NaN
2018-01-02 09:19:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2020-07-03 15:11:00        NaN        NaN        NaN        NaN        NaN
2020-07-03 15:12:00        NaN        NaN        NaN        NaN        NaN
2020-07-03 15:13:00        NaN        NaN        NaN        NaN        NaN
2020-07-03 15:14:00        NaN        NaN        NaN        NaN        NaN
2020-07-03 15:15:00        NaN        NaN        NaN        NaN        NaN

                    TS2003.CFE TS2006.CFE TS2009.CFE TS2012.CFE TS2103.CFE
2018-01-02 09:15:00        NaN        NaN        NaN        NaN        NaN
2018-01-02 09:16:00        NaN        NaN        NaN        NaN        NaN
2018-01-02 09:17:00        NaN        NaN        NaN        NaN        NaN
2018-01-02 09:18:00        NaN        NaN        NaN        NaN        NaN
2018-01-02 09:19:00        NaN        NaN        NaN        NaN        NaN
...                        ...        ...        ...        ...        ...
2020-07-03 15:11:00        NaN        NaN    101.185       None       None
2020-07-03 15:12:00        NaN        NaN    101.185    101.005       None
2020-07-03 15:13:00        NaN        NaN     101.19       None       None
2020-07-03 15:14:00        NaN        NaN    101.185       None       None
2020-07-03 15:15:00        NaN        NaN    101.185    101.005      100.8

[165074 rows x 36 columns]

In [16]:
print('Please input the first product for comparing:')
A = input()#输入要比较的名字
print('Please input the second product for comparing:')
B = input()#输入另一个要比较的名字
res = {'time':[],A:[],B:[],'diff':[]}
for i in df.index:
    a = df.at[i,A]
    b = df.at[i,B]
    if not a or a=='None':
        a = np.NaN
    if not b or b=='None':
        b = np.NaN
    diff = a-b
#     print (i,A,'=',a,B,'=',b,'diff = ',diff)
    res['time'].append(i)
    res[A].append(a)
    res[B].append(b)
    res['diff'].append(diff)
new_df = pd.DataFrame(res)
new_df.to_csv('./result.csv')

Please input the first product for comparing:

 T1809.CFE

Please input the second product for comparing:

 TF1809.CFE

In [ ]:
print (np.NaN-0)
print(0-np.NaN)
print (np.NaN-np.NaN)